// Color
@de-color-primary: #2d8cf0;
@de-color-second: #1b294d;
@de-color-bright: #b4393c;
@de-color-success: #07c160;
@de-color-alert: #ff532c;
@de-color-gray: #f7f7f7;

@de-text-color: #333;
@de-font-size: 14px;
@de-link-color: @de-color-second;
@de-border-color: #c8c8c8;

@de-placeholder-text-color: #c5c8ce;

@de-disabled-bg-color: #f0f0f0;
@de-disabled-border-color: @de-border-color;
@de-disabled-text-color: #999;

@de-transition-time: 200ms;
@de-animation-time: 300ms;
