// Color
@color-primary: #1b294d;
@color-second: #4a90e2;
@color-bright: #b4393c;
@color-alert: #ff532c;
@color-gray: #fafafa;

@text-color: #333;
@link-color: #4a90e2;
@border-color: #e5e5e5;

@import './variables/button';
