@import '../../../styles/variables';

@de-switch-text-color: #fff;
@de-switch-text-size: 12px;

@de-switch-off-bg-color: @de-border-color;
@de-switch-primary-bg-color: @de-color-primary;
@de-switch-success-bg-color: @de-color-success;

@de-switch-disabled-cursor: not-allowed;
@de-switch-disabled-opacity: 0.6;
