@import '../../../styles/variables';
@import '../../../styles/mixins';
@import './variables';

.de-upload {
  &-inner {
    .clearfix();
    margin-top: -10px;
    margin-left: -10px;
    color: @de-upload-color;
    font-size: 12px;
    user-select: none;
  }

  &-item__wrap,
  &-btn {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
  }

  &-item,
  &-btn {
    border-radius: @de-upload-radius;
  }

  &-holder {
    background-color: @de-upload-color-gray;
    border: 1px dashed @de-upload-border-color;
  }

  &-item {
    overflow: hidden;
    position: relative;
    background-color: #fff;
    border: 1px solid @de-upload-border-color;

    &__sortable {
      cursor: move;

      &-after {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: 50%;
        height: 100%;
        content: '';
      }
    }
  }

  &-progress,
  &-action {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: @de-upload-radius;
  }

  &-progress {
    background-color: @de-upload-color-gray;
    text-align: center;

    &__inner {
      width: 80%;
    }

    &__text {
      margin-bottom: 10px;
    }

    &__bar {
      overflow: hidden;
      width: 100%;
      height: 8px;
      border: 1px solid rgba(@de-upload-color-blue, 80%);
      border-radius: 6px;

      &__blink {
        animation: linear infinite 2s progress-blink;
      }

      &__line {
        height: 100%;
        background-color: @de-upload-color-blue;
      }
    }

    &__fail &__bar {
      border-color: @de-upload-border-color;
    }

    &__fail &__bar-line {
      background-color: @de-upload-border-color;
    }
  }

  &-action {
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    &__preview,
    &__remove {
      width: 24px;
      height: 24px;
      background: no-repeat center center / 15px 15px;
      cursor: pointer;
    }

    &__preview {
      background-image: url('../images/icon_see.png');
    }

    &__remove {
      background-image: url('../images/icon_remove.png');
    }

    &__disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &-item:hover &-action {
    visibility: visible;
    opacity: 1;
  }

  &-status {
    overflow: hidden;
    position: absolute;
    top: -1px;
    right: -1px;
    width: 30px;
    height: 30px;
    background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 52%,
      @de-upload-color-green 52%,
      @de-upload-color-green 100%
    );
    border-radius: @de-upload-radius;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      width: 30px;
      height: 30px;
      background: url('../images/icon_tick.png') no-repeat right 3px top 4px ~'/'
        10px 10px;
      content: '';
    }

    &__fail {
      background: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 52%,
        #cfcfcf 52%,
        #cfcfcf 100%
      );

      &::after {
        background-image: url('../images/icon_warn.png');
      }
    }
  }

  &-image,
  &-file {
    width: 100%;
    height: 100%;
  }

  &-image {
    display: block;
    object-fit: scale-down;
  }

  &-file {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2px;
    padding-left: 2px;
    background-image: linear-gradient(
      180deg,
      @de-upload-color-lightblue 0%,
      @de-upload-color-blue 100%
    );

    &__inner {
      min-width: 0;
      padding-top: 25%;
      text-align: center;
    }

    &__filename {
      .text-overflow();
      transform: scale(0.8);
    }

    &__icon {
      width: 16px;
      vertical-align: top;
    }
  }

  &-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: @de-upload-color-gray;
    border: 1px dashed @de-upload-border-color;
    cursor: pointer;

    &__icon {
      width: 25px;
    }

    &__disabled {
      cursor: not-allowed;
    }

    &__disabled &__icon {
      opacity: 0.2;
    }
  }

  &-input {
    display: none;
  }

  @keyframes progress-blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
}
