@import '../../../styles/variables';

@de-upload-radius: 4px;

@de-upload-color: @de-text-color;
@de-upload-color-green: @de-color-success;
@de-upload-color-lightblue: lighten(@de-color-primary, 10%);
@de-upload-color-blue: @de-color-primary;
@de-upload-color-gray: @de-color-gray;
@de-upload-border-color: @de-border-color;
