@font-face {
  font-family: 'domeicon';
  src: url('../fonts/domeicon.ttf?2ys3fj') format('truetype'),
    url('../fonts/domeicon.woff?2ys3fj') format('woff'),
    url('../fonts/domeicon.svg?2ys3fj#domeicon') format('svg');
}

[class*=' de-icon-'],
[class^='de-icon-'] {
  display: inline-block;
  font-family: 'domeicon' !important;
  font-style: inherit;
  font-weight: inherit;
  font-variant: inherit;
  text-transform: none;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.de-icon-arrow-up:before {
  content: '\e623';
}
.de-icon-arrow-down:before {
  content: '\e621';
}
.de-icon-arrow-left:before {
  content: '\e624';
}
.de-icon-arrow-right:before {
  content: '\e622';
}
.de-icon-tick:before {
  content: '\e62f';
}
.de-icon-close:before {
  content: '\e625';
}
.de-icon-prompt:before {
  content: '\e670';
}
.de-icon-alert:before {
  content: '\e630';
}
.de-icon-danger:before {
  content: '\e900';
}
.de-icon-star:before {
  content: '\e904';
}
.de-icon-upload:before {
  content: '\e62e';
}
.de-icon-camera:before {
  content: '\e908';
}
.de-icon-video:before {
  content: '\e901';
}
.de-icon-file:before {
  content: '\e903';
}
.de-icon-img-error:before {
  content: '\e902';
}
.de-icon-calendar-l:before {
  content: '\e662';
}
.de-icon-delete-l:before {
  content: '\e620';
}
.de-icon-eye-l:before {
  content: '\e626';
}
.de-icon-eye-closed-l:before {
  content: '\e627';
}
.de-icon-arrow-up-l:before {
  content: '\e61d';
}
.de-icon-arrow-down-l:before {
  content: '\e61c';
}
.de-icon-arrow-left-l:before {
  content: '\e61e';
}
.de-icon-arrow-right-l:before {
  content: '\e61f';
}
.de-icon-shrink-l:before {
  content: '\e632';
}
.de-icon-enlarge-l:before {
  content: '\e634';
}
.de-icon-tick-l:before {
  content: '\e905';
}
.de-icon-prompt-l:before {
  content: '\e907';
}
.de-icon-alert-l:before {
  content: '\e906';
}
.de-icon-img-error-l:before {
  content: '\e643';
}
.de-icon-close-l:before {
  content: '\e629';
}
.de-icon-refresh-l:before {
  content: '\e62c';
}
.de-icon-plus-l:before {
  content: '\e62d';
}
