@font-face {
  font-family: 'de-icon'; /* Project id 2921977 */
  src: url('../fonts/iconfont.woff2?t=1636702641663') format('woff2'),
    url('../fonts/iconfont.woff?t=1636702641663') format('woff'),
    url('../fonts/iconfont.ttf?t=1636702641663') format('truetype');
}

[class*=' de-icon-'],
[class^='de-icon-'] {
  font-family: 'de-icon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.de-icon-edit-l:before {
  content: '\e631';
}

.de-icon-alert:before {
  content: '\e630';
}

.de-icon-tick-l:before {
  content: '\e62f';
}

.de-icon-upload:before {
  content: '\e62e';
}

.de-icon-plus-l:before {
  content: '\e62d';
}

.de-icon-refresh-l:before {
  content: '\e62c';
}

.de-icon-location-l:before {
  content: '\e62b';
}

.de-icon-close-l:before {
  content: '\e629';
}

.de-icon-close:before {
  content: '\e625';
}

.de-icon-eye:before {
  content: '\e626';
}

.de-icon-eye-closed:before {
  content: '\e627';
}

.de-icon-apps:before {
  content: '\e628';
}

.de-icon-arrow-down:before {
  content: '\e621';
}

.de-icon-arrow-right:before {
  content: '\e622';
}

.de-icon-arrow-up:before {
  content: '\e623';
}

.de-icon-arrow-left:before {
  content: '\e624';
}

.de-icon-delete-l:before {
  content: '\e620';
}

.de-icon-arrow-left-l:before {
  content: '\e61e';
}

.de-icon-arrow-right-l:before {
  content: '\e61f';
}

.de-icon-arrow-down-l:before {
  content: '\e61c';
}

.de-icon-arrow-up-l:before {
  content: '\e61d';
}

.de-icon-magnifier-l:before {
  content: '\e61b';
}

.de-icon-question-l:before {
  content: '\e619';
}

.de-icon-doc-l:before {
  content: '\e617';
}

.de-icon-download-l:before {
  content: '\e618';
}

.de-icon-bell-l:before {
  content: '\e616';
}
