// Button
@button-primary-color: @color-primary;
@button-second-color: @color-second;
@button-bright-color: @color-bright;

@button-xsmall-size: 24px;
@button-small-size: 28px;
@button-middle-size: 32px;
@button-large-size: 38px;
@button-xlarge-size: 44px;

@button-xsmall-font-size: 12px;
@button-small-font-size: 14px;
@button-middle-font-size: 16px;
@button-large-font-size: 18px;
@button-xlarge-font-size: 20px;

@button-radius: 4px;
