@input-border-width: 1px;
@input-border-style: solid;
@input-border-color: @border-color;
@input-focus-border-color: @color-primary;
@input-disabled-bg-color: #fafafa;
@input-radius: 2px;
@input-font-color: @text-color;
@input-placeholder-color: #c5c8ce;
@input-counter-color: #c5c8ce;
@input-line-height: 18px;
@input-transition-time: @transition-time;
@input-clear-bg-color: #e0e0e0;
@input-clear-color: #fff;

@input-xsmall-size: 24px;
@input-xsmall-font-size: 12px;
@input-xsmall-padding-h: 5px;
@input-small-size: 28px;
@input-small-font-size: 12px;
@input-small-padding-h: 5px;
@input-middle-size: 32px;
@input-middle-font-size: 13px;
@input-middle-padding-h: 8px;
@input-large-size: 34px;
@input-large-font-size: 14px;
@input-large-padding-h: 10px;
@input-xlarge-size: 40px;
@input-xlarge-font-size: 16px;
@input-xlarge-padding-h: 10px;
