@import '../../../styles/variables';
@import '../../../styles/mixins';
@import './variables';
@import './mixins';

@keyframes loading-animation {
  50% {
    opacity: 0.2;
    transform: scale(0.75);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes loading-text-animation {
  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

.de-loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  pointer-events: none;

  * {
    box-sizing: border-box;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: @de-loading-inner-size;
    height: @de-loading-inner-size;
    border-radius: @de-loading-inner-radius;
    transform: scale(1);
    transform-origin: center center;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    .padding-y(8px);

    > div {
      width: @de-loading-dot-size;
      height: @de-loading-dot-size;
      background-color: @de-loading-dot-color;
      border-radius: 100%;
      animation: loading-animation 0.9s 0s infinite linear;

      &:nth-child(2n-1) {
        animation-delay: -0.35s;
      }
    }
  }

  &__text {
    .padding-y(8px);
    color: @de-loading-text-color;
    font-size: @de-loading-font-size;
    font-weight: normal;
    line-height: 1.4;

    &-fade {
      animation: loading-text-animation 2s 0s infinite linear;
    }
  }

  &__fixed {
    position: fixed;
  }

  &__mask {
    pointer-events: auto;
  }

  .loading-theme(
    white,
    @de-loading-white-bg-color, @de-loading-white-inner-bg-color, @de-loading-white-inner-shadow-color,  @de-loading-white-text-color
  );

  .loading-theme(
    black,
    @de-loading-black-bg-color, @de-loading-black-inner-bg-color, @de-loading-black-inner-shadow-color,  @de-loading-black-text-color
  );

  &__transparent&__mask {
    background-color: transparent !important;
  }
}
