@import '../../../styles/variables';

@de-loading-icon-dot-color: @de-color-primary;
@de-loading-icon-dot-size: 12px;

@de-loading-inner-size: 124px;
@de-loading-inner-radius: 8px;
@de-loading-text-color: #666;
@de-loading-font-size: 14px;

@de-loading-white-bg-color: rgba(255, 255, 255, 0.5);
@de-loading-white-inner-bg-color: rgba(242, 244, 246, 0.7);
@de-loading-white-inner-shadow-color: rgba(0, 0, 0, 0.15);
@de-loading-white-text-color: #666;

@de-loading-black-bg-color: rgba(0, 0, 0, 0.5);
@de-loading-black-inner-bg-color: rgba(20, 20, 20, 0.7);
@de-loading-black-inner-shadow-color: rgba(0, 0, 0, 0.15);
@de-loading-black-text-color: #fff;
